   ion-icon {
      font-size: 1.5em;
      border: 2px solid #eff1f3;
      transition: all 0.3s ease;
      float: right;
      cursor: pointer;
    }
  

    .face:hover {
      color: #f5f5f5;
      background-color: #1877f2;
      border: 2px solid #1877f2;
    }
    .insta:hover {
      color: #f5f5f5;
      background-image: linear-gradient(to right, rgb(236, 101, 38), yellow, rgb(236, 180, 234));
      border: 2px solid #D43089;
    }

    .tikt:hover {
      color: #f5f5f5;
      background-color: #000;
      border: 2px solid #000;
    }
     .waps:hover {
        color: #f5f5f5;
        background-color: #25D366;
        border: 2px solid #25D366;
      }