
<app-session></app-session>
<ion-content [fullscreen]="true">
  <app-profile [info]="perfilSession"></app-profile>
  <div class="contenidoapp">

    <ion-segment [(ngModel)]="selectedTab" value="info">
      <ion-segment-button value="info">
        <ion-label>Info</ion-label>
      </ion-segment-button>
      <ion-segment-button value="galeria">
        <ion-label>Contenido</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="selectedTab === 'info'">

   <app-info-perfil [perfilSession]="perfilSession"></app-info-perfil>

    <ion-button id="open-form" expand="block">editar</ion-button>


    <ion-modal trigger="open-form">

      <ng-template>
        <ion-header>
          <ion-toolbar>
              <ion-button expand="block" (click)="cerrar()">Cerrar<ion-icon name="close" slot="start"></ion-icon></ion-button>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <form [formGroup]="form" class="textForm" >
            @for (item of formCreate; track $index; ) {
              @if(item.type === 'text'){
                <div class="input-group">
                  <ion-item>
                    <ion-input
                    type="{{item.type}}"
                    name="{{item.name}}"
                    labelPlacement="stacked"
                    label="{{item.label}}"
                    formControlName="{{item.name}}">
                  </ion-input>
                </ion-item>
                </div>
              }
              @if(item.type === 'textarea'){
                <div class="input-group">
                <ion-item>
                <ion-textarea
                labelPlacement="floating"
                label="{{item.label}}"
                fill="solid"
                formControlName="{{item.name}}">
              </ion-textarea>
            </ion-item>
            </div>
              }
              @if(form.get(item.name)?.touched){

                @if(item.name === 'socialMedia' || item.name === 'instantMessages' || item.name === 'links'){
                  <div class="info">
                    <span>{{item.explicacion}}</span>
                  </div>
                }
                @if(form.get(item.name)?.errors?.['required']){

                      <div class="error">
                        <span>Campo Obligatorio</span>
                      </div>

                }
                @if(form.get(item.name)?.errors?.['minlength']){
                    <ion-item>
                      <div class="error">
                        <span>Mínimo 8 caracteres.</span>
                      </div>
                    </ion-item>
                }
                @if(form.get(item.name)?.errors?.['pattern']){
                    <ion-item>
                      <div class="error">
                        <span>Formato inválido de {{item.name}}.</span>
                      </div>
                    </ion-item>
                }
              }

            }
            <ion-button expand="block" (click)="enviar()" [disabled]="form.invalid" >
              <ion-icon name="arrow-forward-outline" style="margin-right: 5px"></ion-icon>Editar Perfil
            </ion-button>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #modal trigger="open-image">
      <ng-template>
        <ion-header>
          <ion-toolbar>
              <ion-button expand="block" (click)="modal.dismiss()">Cerrar<ion-icon name="close" slot="start"></ion-icon></ion-button>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <form [formGroup]="formImg" enctype="multipart/form-data">
            @for (itema of formCreateImg; track $index; ) {
              @if(itema.type === 'file'){
                <ion-item class="cargasUp">
                <ion-input
                id="cargas"
                class="upload-btn"
                type="{{itema.type}}"
                labelPlacement="floating"
                (change)="onfile($event)"
                formControlName="{{itema.name}}"
                accept="images/*">
                  <!-- <div for="cargas" slot="label">{{itema.label}}:
                  </div> -->
                </ion-input>
                <ion-label class="cargarData">Cargar</ion-label>
              </ion-item>
                @if(imagen){
                  <ion-item>
                        <img class="img-fluid img-thumbnail image" src="{{imagen}}" id="realiceImage">
                  </ion-item>
                   }
              }

              @if(formImg.get(itema.name)?.touched){
                @if(form.get(itema.name)?.errors?.['required']){

                      <div class="error">
                        <span>Campo Obligatorio</span>
                      </div>

                }
                @if(formImg.get(itema.name)?.errors?.['minlength']){
                    <ion-item>
                      <div class="error">
                        <span>Mínimo 8 caracteres.</span>
                      </div>
                    </ion-item>
                }
                @if(formImg.get(itema.name)?.errors?.['pattern']){
                    <ion-item>
                      <div class="error">
                        <span>Formato inválido de {{itema.name}}.</span>
                      </div>
                    </ion-item>
                }
              }

            }
            <ion-button expand="block" (click)="enviarImagen()" [disabled]="formImg.invalid" >
              <ion-icon name="arrow-forward-outline" style="margin-right: 5px"></ion-icon>Editar Imagen
            </ion-button>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>


    </div>

    <div *ngIf="selectedTab === 'galeria'">
      <app-content-list [entityNames]="listasPerfil"></app-content-list>

      <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </div>

  </div>
</ion-content>
<app-menubajo></app-menubajo>


