img {
  margin-top: 3em;
  z-index: 100;
  width: 450px;
  height: auto;
}

.menu-header-bg {
  height: 260px;
  width: 100%;
  background: #535a6b;
  background: linear-gradient(90deg, #3d4c70, #2d3855 100%);
  box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
  // transform: rotate(-15deg);
  border-radius: 0px 0px 40% 40%;
  //margin-left: -18px;
  margin-top: -30px;
  margin-bottom: 80px;
}
.contenidoapp {
  width: 90%;
  margin: 1px auto;
}

.perfilimg {
  width: 190px;
  height: auto;
  margin-top: 3em;
  border-radius: 50%;
  border: 4px solid rgb(82, 95, 95);
  background: none;
  color: #fff;
}

.menu-header-bg {
  text-align: center;
}
.headerInterno {
  margin-top: -95px;
  text-align: center;
}
.headerInterno h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2em;
}

ion-button {
  --background: #313e5d;
  --background-hover: #f8fdfb;
  --background-activated: #b3f488;
  --background-focused: #cef488;
  --color: rgb(247, 247, 250);
  --border-radius: 5px;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: deeppink;

  --padding-top: 10px;
  --padding-bottom: 10px;
}
