.instagram {
  // display: flex;
  // flex-wrap: wrap;
  // gap: 10px;
  // width: 90%;
  // margin: 10px auto;
  // text-align: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 2px auto;
}
.instagram:hover {
  box-shadow: 0 6px 18px rgba(48, 61, 92, 0.25);
  transform: translateY(-2px);
}

// .twitter-container {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   margin: 1rem 0;
// }

// .borrarXtw {

//   background-color: white;
//   height: 2em;
//   width: 100%;
//   text-align: center;
//   //t-align: center;
// //   border-radius: 50%;
// //   box-shadow: 0 2px 6px rgba(0,0,0,0.2);
// //   // position: absolute;
// //   top: 10px;
// //   left: 50%;
// //   transform: translateX(-50%);
// //   z-index: 10;
// }

// .borrarXtw ion-button {
//   --background: #e74c3c;
//   --color: #fff;
//   --border-radius: 50%;
//   --padding-start: 0.6rem;
//   --padding-end: 0.6rem;
//   --padding-top: 0.4rem;
//   --padding-bottom: 0.4rem;
//   box-shadow: 0 2px 6px rgba(0,0,0,0.2);
// }

// .borrarXtw ion-button:hover {
//   --color: #d93025; /* rojo elegante */
//   transform: scale(1.1);
// }
