.infoPefil {
  height: auto;
}

ion-icon,
strong {
  margin-right: 8px;
}

ion-icon {
  color: rgb(12, 95, 163);
  font-size: 1.2em;
}

ion-label {
  font-size: 0.8em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

ion-list-header {
  font-size: 1.1em;
}
