ion-fab {
  position: fixed;
  top: 50%;
  right: 8px;
  left: auto;
  transform: translateY(-50%);
  font-size: 2em;
  z-index: 999;

    &:hover {
    font-size: 3em;
  }
}

ion-fab-button {
  --background: #ff8c00;
  --color: #fff;
  opacity: 0.7;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }
}
