ion-header {
  background: #303d5c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  gap: 1px;
}
ion-button {
  --background: #303d5c;
  --color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

ion-img {
  width: 120px;
  padding: 10px;
  object-fit: cover;
}

ion-action-sheet.my-custom-class {
  --background: #f8f6f5;
  --font-size: 1.5em;
  --border-radius: 3em;
  --backdrop-opacity: 0.6;
  --button-background-selected: #e97223;
  --button-color: #012f63;
  --color: #201616;
  /* role: "destructive" button iOS styling override */
  --ion-color-danger: #000000;
}
