.urlexterna {
  text-align: center;
  width: 100%;
  height: 2em;
  background-color: #303d5c;
  border-radius: 5px;
}

.urlexterna a {
  color: white;
  font-weight: bold;
  line-height: 2em;
  text-decoration: none;
  display: block;
}
