  .menu-header-bg {
  height: 260px;
  width: 100%;

  // transform: rotate(-15deg);
  border-radius: 0px 0px 40% 40%;
  //margin-left: -18px;
  margin-top: -30px;
  margin-bottom: 80px;

  }
  .contenidoapp{
  width: 90%;
  margin: 1px auto;
  }


  .editImagen{
    position: absolute;
    margin-left: 29%;
    margin-top: 8%;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background: rgba(248, 247, 247, 0.055) !important;
    color: #fff;
    z-index: 20;
    cursor: pointer;
  }

  .editImagen:hover{
    position: absolute;
    margin-left: 29%;
    margin-top: 8%;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background: rgba(141, 174, 218, 0.055) !important;
    color: #d33d0f;
    z-index: 20;

    cursor: pointer;
  }


  .editImagenof{
    position: absolute;
    margin-left: 29%;
    margin-top: 8%;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background: rgba(248, 247, 247, 0.055) !important;
    color: #fff;
    z-index: 20;
    
  }

  .editImagenof:hover{
    position: absolute;
    margin-left: 29%;
    margin-top: 8%;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background: rgba(141, 174, 218, 0.055) !important;
    color: #d33d0f;
    z-index: 20;

    
  }


  .perfilimg{

    margin-left: 0%;
    width: 190px;
    height: auto;
    border-radius: 50%;
    border: 4px solid rgb(82, 95, 95);
    background: none;
    margin-top: -110px;
    }

  .editImagen ion-icon{
    font-size: 50px;
    margin-top: 30%;
  }

  .menu-header-bg{
  text-align: center;
  }
  .headerInterno{
  margin-top: -95px;
  text-align: center;
  }
  .headerInterno h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2em;
  }

  .headerInterno .descriptionperfil{
  font-size: 1em;
  text-align: justify;
  background-color: #dee1e9;
  border: 2px solid #cfcfd1;
  margin: 1em;
  border-radius: .5em;
  padding: 1rem;
  }

  ion-button {
  --background: #313e5d;
  --background-hover: #f8fdfb;
  --background-activated: #b3f488;
  --background-focused: #cef488;
  --color: rgb(247, 247, 250);
  --border-radius: 5px;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: deeppink;

  --padding-top: 10px;
  --padding-bottom: 10px;
  }

