:host {
  --profile-size: 190px;
  --profile-border-color: rgb(82, 95, 95);
  --btn-bg: #313e5d;
  --btn-color: rgb(247, 247, 250);
  --description-bg: #dee1e9;
  --description-border: #cfcfd1;
}

.menu-header-bg {
  height: 260px;
  width: 100%;
  position: relative;
  text-align: center;
  border-radius: 0 0 40% 40%;
  margin-top: -60px;
  margin-bottom: 80px;
}

.imagen-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  width: var(--profile-size);
  height: var(--profile-size);
  border-radius: 50%;
  background: rgba(248, 247, 247, 0.055);
  color: #fff;
  z-index: 20;

  &.editable {
    cursor: pointer;

    &:hover {
      background: rgba(141, 174, 218, 0.15);
      color: #d33d0f;
    }

    ion-icon {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 100px;
      z-index: 1;
    }
  }
}

.perfilimg {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  width: var(--profile-size);
  height: auto;
  border-radius: 50%;
  border: 4px solid var(--profile-border-color);
  background: none;
}

.headerInterno {
  margin-top: -95px;
  text-align: center;

  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
  }

  .descriptionperfil {
    font-size: 1em;
    text-align: justify;
    background-color: var(--description-bg);
    border: 2px solid var(--description-border);
    margin: 1em;
    border-radius: 0.5em;
    padding: 1rem;
  }
}

.staticDataValue {
  font-size: 1.1em;
  text-align: center;
}

ion-button {
  --background: var(--btn-bg);
  --background-hover: #f8fdfb;
  --background-activated: #b3f488;
  --background-focused: #cef488;
  --color: var(--btn-color);
  --border-radius: 5px;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;
  --box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  --ripple-color: deeppink;
  --padding-top: 10px;
  --padding-bottom: 10px;
}
