ion-list {
  background: transparent;
  padding: 4px 12px;
}

/* Item delgado */

ion-item {
  --background: #ffffff;
  margin-bottom: 8px;
  border-radius: 12px;

  --inner-padding-start: 10px;
  --inner-padding-end: 10px;
  --padding-top: 8px;
  --padding-bottom: 8px;

  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

/* Quitar línea */

ion-item::part(native) {
  border: none;
}

/* Texto */

ion-label h2 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2px;
  color: #1f2a44;
}

ion-label p {
  font-size: 12px;
  color: #8b93a6;
}

/* Badge pequeño */

ion-badge {
  padding: 4px 8px;
  font-size: 11px;
  font-weight: 600;
  border-radius: 999px;
}
